<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnection" value="ENTER BLOB ENDPOINT CONNECTION STRING VALUE"/>
                <!-- Guidance: 
                  Under the storage account click 1. Settings 2. Access Keys 3. 
                  Copy the Connection String Value and 4. Paste it into the value parameter above
                -->
  </appSettings>
</configuration>